/*COMMON*/
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.wrapper-small {
    max-width: 992px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*NAV*/
.nav-top {
    padding: 20px 0;
}

.nav-top nav {
    text-align: right;
}

.menu {
    list-style-type: none;
    line-height: 21px;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu li a {
    text-transform: uppercase;
    font-size: 12px;
    color: black;
}

.menu.lang li {
    border-right: 1px solid black;
    padding-right: 10px;
}

menu.lang li:last-of-type {
    border-right: none;
}

.burger-menu {
    color: black;
    font-size: 25px;
    line-height: 21px;
}

.jumbotron {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.teaser {
    text-align: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teaser h1 {
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 500;
}

.teaser p {
    padding-bottom: 20px;
}