/*COMMON*/
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}

.wrapper-small {
    max-width: 992px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*HEADER*/
/*nav*/
.nav-top {
    padding: 20px 0;
}

@media all and (max-width: 991px) {
    .nav-top {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.nav-top nav {
    text-align: right;
}

.menu {
    list-style-type: none;
    line-height: 21px;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu li a {
    text-transform: uppercase;
    font-size: 12px;
    color: black;
}

.menu.lang li {
    border-right: 1px solid black;
    padding-right: 10px;
}

menu.lang li:last-of-type {
    border-right: none;
}

.burger-menu {
    color: black;
    font-size: 25px;
    line-height: 21px;
}

.jumbotron {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}

.teaser {
    text-align: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teaser h1 {
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 500;
}

.teaser p {
    padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .teaser h1 {
        font-size: 40px;
    }

    .teaser p {
        font-size: 14px;
    }
}

/*END HEADER*/

/*MAIN*/

/*first section: products*/
#products {
    text-align: center;
    padding: 70px;
}

#products h3 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}

#products p {
    padding-bottom: 15px;
}

#products .products-img img {
    width: 100%;
}

#products .col_inner {
    padding: 20px;
}

#products .col_content {
    padding: 20px;
    background-color: #fafafa;
}

/*second section: background only*/
#background-only {
    height: 400px;
    background-image: url("../img/HelbizBanner.jpg");
    background-size: cover;
}

#background-only img {
    display: block;
    margin: 0 auto;
    max-height: 650px;
    position: relative;
    top: 100px;
}

/*riduco la grandezza dell'immagine del telefono per renderla interamente 
visibile sugli schermi più piccoli*/
@media all and (max-width: 471px) {
    #background-only img {
        max-height: 550px;
    }
}

@media all and (max-width: 360px) {
    #background-only img {
        max-height: 450px;
    }
}

/*third section: how to*/
#how-to .container>[class*="col-"] {
    position: relative;
    height: 400px;
}

.how-to-text {
    /* text-align: center; */
    padding: 70px 0;
    width: 38%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-to-text h3 {
    font-size: 30px;
    font-weight: 500;
}

.how-to-text h4 {
    font-weight: 500;
}

/*Cambio le spaziature per migliorare l'aspetto in responsive*/
@media all and (max-width: 991px) {
    #how-to {
        padding-bottom: 350px;
    }

    #how-to .container>[class*="col-"] {
        padding: 70px 0;
        height: unset;
    }

    #how-to .container>[class*="col-"] .how-to-text {
        text-align: center;
        padding-top: 700px;
    }
}

@media all and (max-width: 471px) {
    #how-to .container>[class*="col-"] .how-to-text {
        padding-top: 600px;
    }
}

@media all and (max-width: 360px) {
    #how-to {
        padding-bottom: 250px;
    }

    #how-to .container>[class*="col-"] .how-to-text {
        padding-top: 400px;
    }
}

/*fourth section: slides*/
#slides {
    padding: 30px 0;
}

#slides .container [class*="col"] {
    height: 465px;
}

#slides .container [class*="col_content"] {
    height: 100%;
}

#slides .container>[class*="col-"]:first-child {
    background-image: url("../img/ScooterHelbiz-2400.jpg");
    background-size: cover;
}

#slides .larger-slide {
    position: relative;
}

#slides .larger-slide .slide-text {
    font-size: 20px;

    position: absolute;
    width: 350px;
    top: 116px;
    left: 63%;
}

#slides .larger-slide .slide-text h2 {
    font-size: 44px;
    font-weight: 400;
}

/*Sistemo il testo nei vari dispositivi*/
@media all and (max-width: 991px) {
    #slides .larger-slide {
        position: static;
    }

    #slides .larger-slide .slide-text {
        position: static;
        padding-top: 116px;
        margin: 0 auto;
    }
}

@media all and (max-width:471px) {
    #slides .larger-slide .slide-text {
        position: static;
        width: 100%;
        font-size: 16px;
    }

    #slides .larger-slide .slide-text h2 {
        font-size: 35px;
        font-weight: 500;
    }

    #slides .larger-slide .slide-text p {
        padding: 25px 0 18px 0;
    }
}

#slides .container .bg-blue {
    background-color: #324150;
    overflow: hidden;
}

#slides .container .city {
    background-image: url("../img/cities-1500.jpg");
    background-position: top;
    background-size: cover;
}

#slides .col_inner {
    padding-top: 30px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

/*Levo il padding per far occupare totalmente la pagina alle colonne*/
@media all and (max-width: 991px) {
    .padding-right-15 {
        padding-right: 0px;
    }

    .padding-left-15 {
        padding-left: 0px;
    }
}

.slide-text {
    text-align: center;
    padding-top: 25px;
    color: white;
}

.slide-text h3 {
    font-size: 25px;
    font-weight: 500;
}

.slide-text p {
    padding: 25px 0;
}

.slide-text a {
    color: white;
}

.slide-text ul {
    list-style-type: none;
}

.slide-text ul li {
    display: inline-block;
    margin-right: 10px;
}

#slides .inner-img {
    width: 100%;
    position: relative;
    bottom: 7px;
    left: 0;
}

#slides .inner-img img {
    width: 100%;
}

/*Adatto l'immagine del telefono con l'app sugli schermi più piccoli*/
@media all and (max-width: 471px) {
    #slides .container .bg-blue {
        position: relative;
    }

    #slides .inner-img {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0;
        text-align: center;
    }
}

/*fifth section: social*/
.social-wallpaper {
    background-image: url("../img/Social-Banner.jpg");
    background-size: 1500px;
    height: 300px;
    position: relative;
}

.social-banner {
    background-color: white;
    padding: 40px 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-banner ul {
    list-style-type: none;
    text-align: center;
}

.social-banner ul li {
    display: inline-block;
    margin-right: 15px;
}

.social-banner ul li:last-child {
    margin-right: 0;
}

.social-banner ul li a {
    color: black;
}

/*END MAIN*/

/*FOOTER*/
.footer {
    margin-top: 30px;
    padding: 70px 0;
    background-color: black;
    color: white;
}

.footer ul {
    list-style-type: none;
}

.footer h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer .wrapper-small .container [class*="col-"]>.container {
    padding-bottom: 40px;
}

.footer-link-menu ul li {
    padding-bottom: 15px;
}

.footer-link-menu ul li a {
    color: rgb(155, 154, 154);
}

.footer-social-and-legal {
    padding: 50px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.footer-social-and-legal li {
    display: inline-block;
    margin-right: 15px;
}

.footer-social-and-legal a {
    color: white;
    font-size: 12px;
    display: inline-block;
}

.footer-social-and-legal a i {
    font-size: 20px;
}

.footer-app-download {
    text-align: center;
}

@media all and (max-width: 767px) {
    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-responsive-padding {
        padding-top: 25px;
    }

    /*misure aggiustate per un padding corretto anche sugli
    schermi più piccoli*/
    .footer-social-and-legal {
        padding-top: 20px;
        padding-bottom: 120px;
    }

    .footer-social-and-legal li {
        padding: 20px 0;
        margin-right: 15px;
    }
}